{block #content}

<h1 n:block="title">Administrace</h1>

<ul class="nav nav-tabs">
  <li class="active"><a>Home</a></li>
  <li><a n:href="admins">Administrátoři</a></li>
  <li><a n:href="items">Itemy</a></li>
  <li><a n:href="coupons">Slevové kupóny</a></li>
  <li><a n:href="motd">MOTD</a></li>
</ul>
&nbsp;
<p>Vítejte v administraci. Zde můžete přidávat/odebírat administrátory, přidávat, editovat nebo mazat itemy, vytvářet, editovat nebo mazat slevové poukazy</p>